<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'links.css' %}"> 
<meta charset="utf-8">
<title>
</title>
</head>
<body>
   
   
 <div class="new_tab"> 
        <a href="https://qu.edu.sa/" target="_blank" rel="noopener">Go to QU websit(open a new tab)</a>
    </div>
<div class="same_tab"> 
        <a href="https://qu.edu.sa/">Go to QU websit(open in same page/tap)</a>
</div>
    <div class="new_tab1"> 
        <a href="https://qu.edu.sa/">Go to QU websit(open in same page/tap)</a>
    </div>





   

</body>
</html>
